<!DOCTYPE html>
<html>

    <head>

        <title>New Car</title>

    </head>

    <body>

        <h2>Create New Car!</h2>
        
        <form action='/temp' method='post'>
            Model: 
            <input type='text' name='name'>
            Make: 
            <select name="dojo">
                    <option value="mercedes">Mercedes</option>
                    <option value="jaguar">Jaguar</option>
            </select>
            Image URL:
            <input type="url">
            <input type='submit' value='Submit'>
        </form>

    </body>
     
</html>
